body {
    font: 15px Helvetica;
  }
path {
    stroke-width: 1px;
    stroke: #000000;
    fill: #edf8e9;
    cursor: pointer;
  }
#reset
{
	color: #ffffff;
    background-color: #006d2c;
    width: 100px;
    height: 36px;
}
p
{
	font-size: 15px;
}
